<div class="container">
  <h1 class='text-center border-bottom'>COCKTAILS</h1>

  <% @cocktails.each do |cocktail| %>
  <div class='cocktail my-3'>
    <ul>
      <%= link_to cocktail_path(cocktail) do %>
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <h2><%= cocktail.name %></h2>
          <p>Product description with <strong>relevant info</strong> only.</p>
        </div>
      </div>
      <% end %>
    </ul>
  </div>
  <% end %>



  <%= link_to new_cocktail_path do %>
  <i class="fas fa-plus btn btn-dark mt-3">   New Cocktail</i>
  <% end %>
</div>
